{% for label, flashes in app.session.flashbag.all %}
    {% for flash in flashes %}
        {% if ( label == 'success' ) %}
            <div class="alert alert-success alert-dismissible fade show flash-messages">
                {{ flash }}
            </div>
        {% elseif ( label == 'error' ) %}
            <div class="alert alert-danger alert-dismissible fade show flash-messages">
                {{ flash }}
            </div>
        {% elseif ( label == 'warning' ) %}
            <div class="alert alert-warning alert-dismissible fade show flash-messages">
                {{ flash }}
            </div>
        {% elseif ( label == 'info' ) %}
            <div class="alert alert-info alert-dismissible fade show flash-messages">
                {{ flash }}
            </div>
        {% endif %}
    {% endfor %}
{% endfor %}
